#BCC
VERSION=BCB.01
!ifndef CC_DIR
CC_DIR = $(MAKE_DIR)
!endif

!ifndef HB_DIR
HB_DIR = $(HARBOUR_DIR)
!endif
 
RECURSE= NO 
 
COMPRESS = NO
EXTERNALLIB = YES
XFWH = NO
FILESTOADD =  5
WARNINGLEVEL =  0
USERDEFINE = 
USERINCLUDE = 
GUI = NO
MT = NO
SRC04 = obj 
PROJECT = asclepios.exe $(PR) 
OBJFILES = $(SRC04)\ASCLEPIOS.obj $(SRC04)\AFILACT.obj $(SRC04)\ALERTIT.obj $(SRC04)\ARCHIVOS.obj $(SRC04)\AUDFARM.obj //
 $(SRC04)\AUDIT.obj $(SRC04)\AUDPRAC.obj $(SRC04)\BANCO.obj $(SRC04)\BORRAORD.obj $(SRC04)\CARGAUT.obj //
 $(SRC04)\COMPRO.obj $(SRC04)\CONFCHEQ.obj $(SRC04)\CONV.obj $(SRC04)\ENVIAR.obj $(SRC04)\FAX.obj //
 $(SRC04)\FREC.obj $(SRC04)\IMPAUD.obj $(SRC04)\IMPCHEQU.obj $(SRC04)\IMPFACT.obj $(SRC04)\IMPFAX.obj //
 $(SRC04)\IMPMESA.obj $(SRC04)\IMPREINT.obj $(SRC04)\INF01.obj $(SRC04)\INGAUD.obj $(SRC04)\I_MOUSE.obj //
 $(SRC04)\LETRAS.obj $(SRC04)\LISDEB.obj $(SRC04)\LISTAC11.obj $(SRC04)\LISTREIN.obj $(SRC04)\MESA.obj //
 $(SRC04)\ORDAFIL.obj $(SRC04)\PEDIDO.obj $(SRC04)\REINFAR.obj $(SRC04)\REINPRAC.obj $(SRC04)\RENDIC.obj //
 $(SRC04)\RENDTODO.obj $(SRC04)\SET_ELI.obj $(SRC04)\SUPMENU.obj $(SRC04)\TRAER.obj $(SRC04)\UDF.obj //
 $(SRC04)\VERAPE.obj $(SRC04)\VERORDAF.obj $(OB) 
PRGFILES = ASCLEPIOS.PRG AFILACT.PRG ALERTIT.PRG ARCHIVOS.PRG AUDFARM.PRG //
 AUDIT.PRG AUDPRAC.PRG BANCO.PRG BORRAORD.PRG CARGAUT.PRG //
 COMPRO.PRG CONFCHEQ.PRG CONV.PRG ENVIAR.PRG FAX.PRG //
 FREC.PRG IMPAUD.PRG IMPCHEQU.PRG IMPFACT.PRG IMPFAX.PRG //
 IMPMESA.PRG IMPREINT.PRG INF01.PRG INGAUD.PRG I_MOUSE.PRG //
 LETRAS.PRG LISDEB.PRG LISTAC11.PRG LISTREIN.PRG MESA.PRG //
 ORDAFIL.PRG PEDIDO.PRG REINFAR.PRG REINPRAC.PRG RENDIC.PRG //
 RENDTODO.PRG SET_ELI.PRG SUPMENU.PRG TRAER.PRG UDF.PRG //
 VERAPE.PRG VERORDAF.PRG $(PS) 
OBJCFILES = $(OBC) 
CFILES = $(CF)
RESFILES = 
RESDEPEN = 
TOPMODULE = ASCLEPIOS.PRG
LIBFILES = optcon.lib  lang.lib vm.lib rtl.lib rdd.lib macro.lib pp.lib dbfntx.lib dbfcdx.lib dbffpt.lib common.lib gtwin.lib codepage.lib ct.lib tip.lib pcrepos.lib hsx.lib hbsix.lib  super.lib
EXTLIBFILES = super.lib
DEFFILE = 
HARBOURFLAGS =  -m  -w0
CFLAG1 =  -OS $(CFLAGS) -d -c -L$(HB_DIR)\lib 
CFLAG2 =  -I$(HB_DIR)\include;$(CC_DIR)\include
RFLAGS = 
LFLAGS = -L$(CC_DIR)\lib\obj;$(CC_DIR)\lib;$(HB_DIR)\lib -Gn -M -m -s -Tpe -x -ap
IFLAGS = 
LINKER = ilink32
 
ALLOBJ = c0x32.obj $(OBJFILES) $(OBJCFILES)
ALLRES = $(RESDEPEN)
ALLLIB = $(LIBFILES) import32.lib cw32.lib
.autodepend
 
#DEPENDS
 
#COMMANDS
.cpp.obj:
$(CC_DIR)\BIN\bcc32 $(CFLAG1) $(CFLAG2) -o$* $**
 
.c.obj:
$(CC_DIR)\BIN\bcc32 -I$(HB_DIR)\include $(CFLAG1) $(CFLAG2) -o$* $**
 
.prg.obj:
$(HB_DIR)\bin\harbour -D__EXPORT__ -n -go -I$(HB_DIR)\include $(HARBOURFLAGS) -o$* $**
 
.rc.res:
$(CC_DIR)\BIN\brcc32 $(RFLAGS) $<
 
#BUILD
 
$(PROJECT): $(CFILES) $(OBJFILES) $(RESDEPEN) $(DEFFILE)
    $(CC_DIR)\BIN\$(LINKER) @&&!  
    $(LFLAGS) +
    $(ALLOBJ), +
    $(PROJECT),, +
    $(ALLLIB), +
    $(DEFFILE), +
    $(ALLRES) 
!
